
@model blogMarcelo.Web.Models.Blog.DetalhesPostViewModel
@{
    ViewBag.Title = "Post";
}

<h2>@Model.Titulo</h2>
<div class="cadastro-post">

    <div class="icone-calendario div-imagem"></div>
    @Model.DataPublicacao.ToString("dd/MM/yyyy HH:mm")

    <div class="icone-autor div-imagem"></div>
    @Model.Autor

    <div class="icone-autor div-imagem"></div>
    @Html.ActionLink(Model.QtdeComentarios.ToString(), "")
    @if (Request.IsAuthenticated )
    {
    <div class="icone-excluir div-imagem"></div>
    @Html.ActionLink("Excluir", "ExcluirPost", "Administracao", new { id = Model.Id }, new { @class = "excluir-post" })
    }
</div>



<div class="descricao-post">
    @Model.Descricao
</div>

<div class="tags-post">
    <h3>Tags</h3>
    @foreach (var item in Model.Tags)
    {
        <li>
            @Html.ActionLink(item.Tag, "Index", "Blog", new { tag = item.Tag }, null)
        </li>
    }
</div>



